* {
    margin: 0;
    padding: 0;
}

.navbar {
    height: 60px;
    background-color: #131921;
    color: white;

    display: flex;
    align-items: center;
    gap: 25px;

    padding: 0 20px;
}

.logo {
    font-size: 25px;
    font-weight: bold;
}

input {
    width: 500px;
    height: 35px;
    padding: 5px;
}